<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <cpn1 :cmovie="movies"></cpn1>
    <cpn2 :c-movies="movies"></cpn2>
</div>
<template id="temp">
    <div>
        <ul v-for="item in cmovie">
            <li>{{item}}</li>
        </ul>
    </div>
</template>

<template id="temp2">
    <div>
        <ul v-for="item in cMovies">
            <li>{{item}}</li>
        </ul>
    </div>
</template>
<script type="text/javascript">
    const cpn1 = {
        template: '#temp',
        props: ['cmovie']
    }

    const cpn2 = {
        template: '#temp2',
        props: {
            cMovies: {
                type: Array,
                default() {
                    return []
                }
            }
        }
    }

    let mv = new  Vue({
        el: '#app',
        data: {
            movies: ['大鱼海棠','齐天大圣','哪吒闹海','风语咒','天书奇谈']
        },
        components: {
            cpn1: cpn1,
            cpn2: cpn2
        }
    })
</script>
</body>
</html>