<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <style>
        .tr td{
            width: 150px;
        }
    </style>
</head>
<body>
<div id="app">
    <div v-if="seen">
        <table>
            <tr class="tr">
                <td>书籍名称</td>
                <td>出版日期</td>
                <td>价格</td>
                <td>购买数量</td>
                <td>操作</td>
            </tr>
            <tr class="tr" v-for="(book,index) in books">
                <td>{{book.name}}</td>
                <td>{{book.date}}</td>
                <td>{{book.price}}</td>
                <td>
                    <button @click="subNum(index)">-</button>
                    {{book.num}}
                    <button @click="addNum(index)">+</button>
                </td>
                <td>
                    <button @click="delBook(index)">移除</button>
                </td>
            </tr>
        </table>
        <div>
            <p>总价格：{{totalPrice}}</p>
        </div>
    </div>
    <div v-else>无货</div>
</div>

<script type="text/javascript">
    var mv = new  Vue({
        el:'#app',
        data:{
            books : [
                {name : '算法导论', date : '2020-10-11', price : 111, num : 1},
                {name : '代码大全', date : '2011-11-12', price : 112, num : 1},
                {name : '编程艺术', date : '2019-03-13', price : 113, num : 1},
                {name : '编译原理', date : '2020-01-14', price : 114, num : 1}
            ]
        },
        methods : {
            addNum : function (index) {
                this.books[index].num++;
            },
            subNum : function (index) {
                this.books[index].num--;
            },
            delBook : function (index) {
                this.books.splice(index, 1);
                this.seen;
            }
        },
        computed : {
           totalPrice : function () {
               let result = 0;
               for (let book of this.books){
                   result = result + book.price * book.num;
               }
               return result;
           },
           seen : function () {
                if (this.books.length == 0){
                    return false;
                }
                return true;
           }

        }
    })
</script>
</body>
</html>